<div class="ui inverted segment">
    <div class="ui inverted secondary pointing menu">

      <ng-container *ngIf="authService.signedin$ | async ;else signout">
        <a class="item" routerLink="/inbox" routerLinkActive="active">Inbox</a>
        <a class="item" routerLink="/signout" routerLinkActive="active">Sign out</a>
      </ng-container>

      <ng-template #signout>
        <a class="item" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >Sign In</a>
        <a class="item" routerLink="/signup" routerLinkActive="active">Sign Up</a>
      </ng-template>
      

    </div>
  </div>